* {
    box-sizing: border-box;
    margin: 0 auto;
}

header, main, aside, footer {
    position: absolute;
    overflow: auto;
    text-align: center;
}

main, aside {
    top:10.2%;
    height: 80%;
}

header, footer {
    width: 100%;
}

header {
    padding-top: 2%;
    height: 10.2%;
}

main {
    padding-top: 12%;
    width: 80%;
    text-align: unset;
}

aside {
    padding-top: 8%;
    left: 80%;
    width: 20%;
}

footer {
    padding-top: 2%;
    top: 90.2%;
    height: 9.8%;
}