* {
    box-sizing: border-box;
}

header, main, aside, footer {
    position: absolute;
    overflow: auto;
    text-align: center;
}

main, aside {
    top:10.2%;
    height: 80%;
}

header, footer {
    width: 100%;
}

header {
    height: 10.2%;
}

main {
    width: 80%;
}

aside {
    left: 80%;
    width: 20%;
}

footer {
    top: 90.2%;
    height: 9.8%;
}