* {
    box-sizing: border-box;
}

header, main, aside, footer{
    /* position: absolute; */
    border: 4px solid black;
}

header {
    position: absolute;
    border-color: greenyellow;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

main {
    position: absolute;
    border-color: blueviolet;
    top:96px;
    width: 75%;
    height: 80%;
    text-align: center;
}

aside {
    position: absolute;
    border-color: aquamarine;
    top: 96px;
    left: 75%;
    width: 25%;
    height:80%;
}

footer {
    position: absolute;
    border-color: coral;
    top: calc(96px + 80%);
    width: 100%;
    height: calc(20% - 96px);
}